In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame(index=['суй', 'хуй'], columns=['рот', 'чма'])

In [4]:
df

     рот  чма
суй  NaN  NaN
хуй  NaN  NaN

In [5]:
df.loc['суй'] = ['анус', 13]

In [6]:
df

      рот  чма
суй  анус   13
хуй   NaN  NaN